html,
body {
  font-family: 'Mukta', sans-serif;
  color:#fff;
  text-align:center;
}
form {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left:25px;
  padding: 0;
}
h1 {
  font-size: 50px;
  margin-top: -40px;
  margin-bottom: 0px;
  padding: 0;
}
h2, h3 {
  margin: 0;
  font-size: 20px;
}

h4 {
  margin-top: 10px;
  font-size: 40px;
}
#nowButton {
align-items: center;
}
#celsius, #fahrenheit {font-size: 20px;
color: #fff;
text-decoration:none;}
.advice {text-transform: capitalize;}
.row {padding: 10px;}
.left {float: left;}
.right {float: right;}
.monday {
  background-color: #6ab7b7;
  margin-left:-15px;
  margin-right:-15px;
}
.tuesday {
  background-color: #58a3ab;
  margin-left:-15px;
  margin-right:-15px;
}
.wednesday {
  background-color: #3d8498;
  margin-left:-15px;
  margin-right:-15px;
}
.thursday {
  background-color: #276b88;
  margin-left:-15px;
  margin-right:-15px;
}
.friday {
  background-color: #17597d;
  margin-left:-15px;
  margin-right:-15px;
}
.container-fluid {
  border-color: #397F95;
  padding-top: 1px;
  max-width: 325px;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
